@model SewerGroupViewModel

<input asp-for="Id" hidden />
<input asp-for="Period.Id" hidden />

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Code" class="label"></label>
        <input type="text" asp-for="Code" class="form-control" required />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Period.WorkFrontIds" class="label"></label>
        <select asp-for="Period.WorkFrontIds" multiple class="form-control kt-select2 select2-work-fronts" data-placeholder="Frente"></select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Period.WorkFrontHeadId" class="label"></label>
        <select asp-for="Period.WorkFrontHeadId" class="form-control kt-select2 select2-work-front-heads" required data-placeholder="Jefe de Frente"></select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Period.WorkComponent" class="label"></label>
        <select asp-for="Period.WorkComponent" class="form-control kt-select2 select2-work-components">
            @foreach (var item in ConstantHelpers.Sewer.Group.WorkComponent.VALUES)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
    <div class="col-lg-6">
        <label asp-for="Period.WorkStructure" class="label"></label>
        <select asp-for="Period.WorkStructure" class="form-control kt-select2 select2-work-structures">
            @foreach (var item in ConstantHelpers.Sewer.Group.WorkStructure.VALUES)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Period.Destination" class="label"></label>
        <select asp-for="Period.Destination" class="form-control kt-select2 select2-destinations" required>
            @foreach (var item in ConstantHelpers.Sewer.Group.Destination.VALUES)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Period.ProviderId" class="label"></label>
        <select asp-for="Period.ProviderId" class="form-control kt-select2 select2-providers"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="Period.ProjectCollaboratorId" class="label"></label>
        <select asp-for="Period.ProjectCollaboratorId" class="form-control kt-select2 select2-project-collaborators"></select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Period.ForemanId" class="label"></label>
        <select asp-for="Period.ForemanId" class="form-control kt-select2 select2-workers"></select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Period.DateStart" class="label"></label>
        <div class="input-group">
            <input asp-for="Period.DateStart" class="form-control datepicker" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <label asp-for="Period.DateEnd" class="label"></label>
        <div class="input-group">
            <input asp-for="Period.DateEnd" class="form-control datepicker"/>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>