@model SearchResultViewModel

@if (Model == null)
{
    <div class="col-lg-12">
        <div class="kt-portlet jumbotron">
            <div class="kt-portlet__body">
                <div class="kt-infobox">
                    <div class="kt-infobox__header">
                        <h2 class="kt-infobox__title">Ning&uacute;n DNI ingresado.</h2>
                    </div>
                    <div class="kt-infobox__body">
                        <div class="kt-infobox__section">
                            <div class="kt-infobox__content">
                                Por favor, ingrese el DNI del obrero al cual quiere consultar su informaci&oacute;n.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
<div class="col-lg-12">
    <!--Begin:: Portlet-->
    <div class="kt-portlet" style="min-height: 200px">
        <div class="kt-portlet__body">
            <div class="kt-widget kt-widget--user-profile-3">
                <div class="kt-widget__top">
                    <div class="kt-widget__media">
                        <img src="@(Model.PhotoUrl == null ? "/media/worker_default_picture.png" : Model.PhotoUrl.ToString())" alt="image">
                    </div>
                    <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-bolder kt-font-light kt-hidden">
                        JM
                    </div>
                    <div class="kt-widget__content">
                        <div class="kt-widget__head">
                            <div class="kt-widget__user">
                                <a href="#" class="kt-widget__username">
                                    @Model.FullName [@ConstantHelpers.DocumentType.VALUES.GetValueOrDefault(Model.DocumentType) - @Model.Document]
                                </a>
                                @{ var isActive = Model.Details.Select(x => x.IsActive).FirstOrDefault(); }
                                <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-@(isActive ? "success" : "danger")" style="font-size: 1rem">@(isActive ? "Activo" : "Cesado")</span>
                            </div>
                            <div class="kt-widget__action">
                                <a href="mailto:@Model.Email" class="btn btn-label-brand btn-sm btn-upper"><i class="flaticon2-new-email"></i>&emsp;Enviar Mensaje</a>
                            </div>
                        </div>
                        <div class="kt-widget__subhead h5">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="flaticon2-new-email"></i>&ensp;Correo Electr&oacute;nico: @Model.Email (@(Model.EmailConfirmed ? $"Confirmado el {Model.EmailConfirmationDateTime?.ToLocalDateFormat()}" : "No Confirmado"))
                                </div>
                                <div class="col-md-3">
                                    <i class="flaticon-confetti"></i>&ensp;Edad: @(Model.BirthDate.HasValue ? $"{(DateTime.UtcNow - Model.BirthDate.Value).Days / 365} años" : "Desconocido")
                                </div>
                                <div class="col-md-3">
                                    <i class="flaticon2-calendar-3"></i>&ensp;Entrada: @(Model.EntryDate.HasValue ? Model.EntryDate?.ToLocalDateFormat() : "Desconocido")
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="flaticon2-placeholder"></i>&ensp;Categor&Iacute;a: @ConstantHelpers.Worker.Category.VALUES.GetValueOrDefault(Model.Category)
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__info">
                            <div class="kt-widget__desc">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End:: Portlet-->
</div>

<div class="col-lg-12">
    @if (!Model.Details.Any())
    {
        <p class="text-center">No existe informaci&oacute;n de per&iacute;odos laborales de este Obrero.</p>
    }
    else
    {
        foreach (var detail in Model.Details)
        {
            <!--begin:: Portlet-->
            <div class="kt-portlet ">
                <div class="kt-portlet__body">
                    <div class="kt-widget kt-widget--user-profile-3">
                        <div class="kt-widget__top">
                            <div class="kt-widget__media kt-hidden-">
                                <img src="@detail.Project.LogoUrl" alt="image">
                            </div>
                            <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                                JM
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__head">
                                    <a href="#" class="kt-widget__username kt-hidden">
                                        Jason Muller
                                        <i class="flaticon2-correct"></i>
                                    </a>
                                    <a href="#" class="kt-widget__title">@detail.Project.Name</a>
                                    <div class="kt-widget__action">
                                        <button type="button" class="btn btn-@(detail.IsActive ? "success" : "danger") btn-sm btn-upper" disabled>@(detail.IsActive ? "Activo" : "Cesado")</button>
                                    </div>
                                </div>
                                <div class="kt-widget__info">
                                    <div class="kt-widget__desc">
                                        @detail.Project.Description
                                    </div>
                                    <div class="kt-widget__progress kt-hidden">
                                        <div class="kt-widget__text">
                                            Progress
                                        </div>
                                        <div class="progress" style="height: 5px;width: 100%;">
                                            <div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="kt-widget__stats">
                                            78%
                                        </div>
                                    </div>
                                    <div class="kt-widget__stats d-flex align-items-center flex-fill">
                                        <div class="kt-widget__item">
                                            <span class="kt-widget__date">
                                                Start Date
                                            </span>
                                            <div class="kt-widget__label">
                                                <span class="btn btn-label-brand btn-sm btn-bold btn-upper">@detail.EntryDate?.ToLocalDateFormat()</span>
                                            </div>
                                        </div>
                                        <div class="kt-widget__item">
                                            <span class="kt-widget__date">
                                                Due Date
                                            </span>
                                            <div class="kt-widget__label">
                                                <span class="btn btn-label-danger btn-sm btn-bold btn-upper">@(!detail.CeaseDate.HasValue ? "Actualidad" : detail.CeaseDate.Value.ToLocalDateFormat())</span>
                                            </div>
                                        </div>
                                        <div class="kt-widget__item flex-fill">
                                            <span class="kt-widget__subtitel">Progress</span>
                                            <div class="kt-widget__progress d-flex  align-items-center">
                                                <div class="progress" style="height: 5px;width: 100%;">
                                                    <div class="progress-bar kt-bg-success" role="progressbar" style="width: 78%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span class="kt-widget__stat">
                                                    78%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__bottom">
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-piggy-bank"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title">Earnings</span>
                                    <span class="kt-widget__value"><span>$</span>249,500</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-confetti"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title">Expances</span>
                                    <span class="kt-widget__value"><span>$</span>164,700</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-pie-chart"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title">Net</span>
                                    <span class="kt-widget__value"><span>$</span>84,060</span>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-file-2"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title">73 Tasks</span>
                                    <a href="#" class="kt-widget__value kt-font-brand">View</a>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-chat-1"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <span class="kt-widget__title">648 Comments</span>
                                    <a href="#" class="kt-widget__value kt-font-brand">View</a>
                                </div>
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__icon">
                                    <i class="flaticon-network"></i>
                                </div>
                                <div class="kt-widget__details">
                                    <div class="kt-section__content kt-section__content--solid">
                                        <div class="kt-media-group">
                                            <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
                                                <img src="assets/media/users/100_7.jpg" alt="image">
                                            </a>
                                            <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
                                                <img src="assets/media/users/100_3.jpg" alt="image">
                                            </a>
                                            <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
                                                <img src="assets/media/users/100_2.jpg" alt="image">
                                            </a>
                                            <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
                                                <img src="assets/media/users/100_13.jpg" alt="image">
                                            </a>
                                            <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                                <img src="assets/media/users/100_4.jpg" alt="image">
                                            </a>
                                            <a href="#" class="kt-media kt-media--sm kt-media--circle" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                                <span>+3</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Portlet-->
        }
    }
</div>
}

